body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.outerBorder {
	border: 2px solid black;
	height: 75vh;
	width: 25vw;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.display {
	border: 2px solid black;
	width: auto;
	height: 15vh;
	margin: 2rem 2rem 0 2rem;
	display: flex;
	justify-content: flex-end;
	padding: 2rem 2rem 1rem 2rem;
	align-items: flex-end;
}

.numpad {
	border: 2px solid black;
	width: auto;
	height: 60vh;
	margin: 0 2rem 2rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	margin: 0;
}

button {
	width: 7rem;
	height: 5rem;
	text-align: center;
	font-size: 22px;
}

button.double {
	flex: 1;
}
