* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Work Sans';
	display: flex;
	flex-direction: column;
	background-color: antiquewhite;
	gap: 2rem;
	margin: 0;
}

.display {
	width: 50%;
	height: 15vh;
	margin: 2rem 2rem 0 2rem;
	display: flex;
	justify-content: center;
	padding: 2rem 2rem 1rem 2rem;
	align-items: center;
	font-size: 3rem;
	font-weight: 700;
	background-color: aliceblue;
	box-shadow: inset 0 0 15px #2c3e50;
}

.numpad {
	width: 40vw;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
	border: 6px double black;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	margin: 0;
}

button {
	width: 7rem;
	height: 7rem;
	text-align: center;
	font-size: 22px;
	font-weight: 900;
	outline: none;
	border: none;
	cursor: pointer;
	flex: 1;
}

button.double {
	flex: 1;
}

button[data-number] {
	background: linear-gradient(to bottom, rgb(211, 210, 209) 0%, rgb(150, 150, 150) 100%);
	box-shadow: 8px 8px 0 rgb(255, 163, 77);
}

button[data-number]:active {
	transform: scale(0.93);
	box-shadow: 6px 6px 0 rgb(255, 163, 77);
}

button[data-operator],
button[data-other] {
	background: linear-gradient(to top, rgb(255, 163, 77) 0%, rgb(240, 116, 0) 100%);
	box-shadow: 8px 8px 0 rgb(199, 199, 199);
}

button[data-operator]:active,
button[data-other]:active {
	transform: scale(0.93);
	box-shadow: 6px 6px 0 rgb(199, 199, 199);
}

@media (max-width: 1500px) {
	.numpad {
		width: 60vw;
		height: 50vh;
		margin: 0 1rem 1rem 1rem;
		padding: 1rem;
	}
	.row {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		margin: 0;
	}
	button {
		width: 5rem;
		height: 5rem;
		text-align: center;
		font-size: 22px;
		flex: 1;
	}
}
@media (max-width: 768px) {
	.numpad {
		width: 60vw;
		height: 50vh;
		margin: 0 1rem 1rem 1rem;
		padding: 1rem;
	}
	.row {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
		margin: 0;
	}
	button {
		width: 2rem;
		height: 4rem;
		text-align: center;
		font-size: 14px;
		flex: 1;
	}
}
@media (max-width: 650px) {
	body {
		gap: 0;
	}
	.display {
		font-size: 2rem;
		width: 100vw;
		height: 35vw;
		margin: 0;
		padding: 0;
		flex: 1;
	}
	.numpad {
		width: 100vw;
		height: 60vh;
		margin: 0;
		padding: 0;
		justify-content: center;
		border: none;
	}
	.row {
		display: flex;
		justify-content: center;
		gap: 0;
		margin: 0;
	}
	button {
		width: 5rem;
		height: 12vh;
		text-align: center;
		font-size: 14px;
		box-shadow: none;
		flex: 1;
		border: 1px solid black;
		box-shadow: inset 0 0 15px #2c3e50;
	}

	button[data-operator],
	button[data-other],
	button[data-number] {
		box-shadow: none;
	}

	button[data-number]:active,
	button[data-operator]:active,
	button[data-other]:active {
		box-shadow: none;
	}
}
